* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    margin: 0;
    padding-bottom: 100px; 
    height: 150vh; /* Thay đổi chiều cao của body */
    overflow: auto; /* cuộn trang */
}
header {
    background-color: #8E5DB5;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.container{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: auto;
   }
h2{
    text-align: center;
}
.container-top{
    margin-left: 30px;
}

.input-container{
    width: 100%;
    padding: 10px 0;
}
textarea{
    width: 80%;
    height: 40px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}


@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
#rating{
    border:none;float:left;
}
#rating>input{
    display:none;/*ẩn input radio - vì chúng ta đã có label là GUI*/
}
#rating>label:before{
    margin:5px;
    font-size:2em;
    font-family:FontAwesome;
    display:inline-block;
    content:"★";/*\f0051 ngôi sao*/
}
#rating>.half:before{
    content:"★";/*\f0890.5 ngôi sao*/
    position:absolute;
}
#rating>label{
    color:#ddd;
    float:right;/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
}
/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
#rating>input:checked~label,
#rating:not(:checked)>label:hover, 
#rating:not(:checked)>label:hover~label{
    color:#FFD700;
}
/* Hover vào các sao phía trước ngôi sao đã chọn*/
#rating>input:checked+label:hover,
#rating>input:checked~label:hover,
#rating>label:hover~input:checked~label,
#rating>input:checked~label:hover~label{
    color:#FFED85
}
.submit-container {
    margin-right: 0; /* Khoảng cách từ rating đến nút submit */
}

input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #8E5DB5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
input[type="submit"]:hover {
    background-color: #87dcf8;
}