 /* /ここからハンバーガーメニュー/ / */
 .headerMenu {
    text-align: center;
    color: #FFFF;
    text-shadow: 1px 1px 1px black;
    padding: 17px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.menuIcon {
    width: 97%;
    position: relative;
}

.hamburgerMenu {
    position: absolute;
    height: 3.5em;
    width: 2em;
    top: 1em;
    right: 0;
    transform: translateY(-50%);
    z-index: 100;
}

.hamburgerBar {
    opacity: 1;
    height: 0.25em;
    width: 2.5em;
    background-color: white;
    box-shadow: 1px 1px 0 skyblue,
        1px -1px 0 skyblue,
        -1px 1px 0 skyblue,
        -1px -1px 0 skyblue;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.25s ease-in-out;
}

.hb1 {
    top: 25%;
}

.hb2 {
    top: 50%;
    z-index: 100;
}

.hb3 {
    top: 75%;
}

.menuOpen .hb1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
}

.menuOpen .hb2 {
    height: 0.3em;
    width: 0.3em;
    background-color: white;
    box-shadow: 1px 0px 0 white,
        -1px 0px 0 white,
        0px 1px 0 white,
        0px -1px 0 white;
    transform: translate(-50%, -50%) rotate(180deg);
}

.menuOpen .hb3 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(225deg);
}

.menuList {
    size : 2em;
    pointer-events: auto;
    width: 60%;
    height: 100%;
    z-index: 50;
    padding: 5em 0;
    position: fixed;
    top: 0;
    left: 100%;
    background-color: skyblue;
    transition: 0.25s ease-in-out;
    font-size: 100%;
    color: #8E5DB5;
    overflow-y: auto; 
    white-space: nowrap; 
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.menuOpen .menuList {
    left: 75%;
    box-shadow: -1px 0 1em rgba(0, 0, 0, 0.5);
}

.menuList ul {
    list-style: none;
    padding: 0;
    margin: 0;
   
}

.menuList li {
    display: flex; 
    align-items: center; /* 真ん中の調整 */
    margin: 10px 0;
}
/*　イメージの設定 */
.menuList img {
    background-color: #fff;
    height: 1.5em; 
    width: 1.5em; 
    margin-right: -1px;

}

.menuList a {
    height: 1.5em; /*  hamburger menu とイメージ　の高さ同じにする*/
    color: #8E5DB5;
    text-decoration: none;
    display: block;
    padding: 0;
    background-color: #fff;
    transition: background-color 0.3s;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    text-align: left;
    flex-grow: 1;
}

.menuList a:hover {
    background-color: #e0e0e0;
}
/* / ここまでハンバーガーメニュー */ 