* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: white;
    color: #8E5DB5;
    overflow: hidden;
}

hr {
    margin: 5%;
    height: 1px;
    background-color: gray;
    border: none;
}

header {
    background-color: #8E5DB5;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px 1px black;
    padding: 17px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 60px; /* Adjust padding to ensure content is not hidden */
    height: calc(100vh - 60px); /* Adjusted to match the header height */
    overflow: hidden;
}

.main-contents {
    width: 90%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #8E5DB5;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    overflow: auto;
    position: relative; /* Added for positioning the register link */
}

.input-item {
    margin-bottom: 1.5%;
    padding: 0.5em;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

input {
    width: calc(100% - 40px);
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    background-color: rgb(243, 246, 243);
    box-shadow: inset 0.1em 0.1em 3px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease;
}

input:focus {
    outline: none;
    box-shadow: inset 0.1em 0.1em 3px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 245, 253);
}

input::placeholder {
    color: #888;
}

input[type="submit"] {
    color: #FFF;
    font-size: 1em;
    padding: 0.5em;
    width: 6em;
    border: none;
    background-color: #8E5DB5;
    border-bottom: 4px solid #8E5DB5;
    box-shadow: 0.1em 0.1em 3px rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(117, 174, 240);
    transform: translateY(4px);
    border-bottom: none;
}

input[type="submit"]:active {
    box-shadow: none;
    transform: translate(0.1em, 0.1em);
}

.submit {
    text-align: center;
}

.e-message {
    color: rgba(255, 55, 55, 1);
}

.error-box {
    transition: 0.5s ease;
    background-color: rgba(255, 255, 155, 1);
}


/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    .main-contents {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .main-contents {
        width: 95%;
    }

    .input-group img {
        width: 25px;
        height: 25px;
    }

    input {
        padding: 0.4em;
    }

    input[type="submit"] {
        padding: 0.4em;
        width: 5em;
    }

    #register {
        bottom: 5px;
        right: 5px;
    }
}
footer{
    text-align: right;
}
